* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

main {
  display: grid;
  gap: 1ch;
}

@media (width >= 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
